.m_line_box {
  width: 100%;
  /* height: 5%; */
  height: 50px;
  display: flex;
}

.m_title_line_box {
  width: 100%;
  height: 0px;
  border: 1px black solid;
  margin: 15px 0px;
}

.m_button_line_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: end;
  margin-top: auto;
  margin-bottom: 10px;
}

/* plus버튼 흰색변경 */
.m_filter_invert {
  filter: invert();
}

.m_show_box {
  width: 100%;
  /* min-height: 95%; */
  background: white;
  border-radius: 10px;
  border: 1px #E6EDFF solid;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.m_show_box_title {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.table_line_box {
  width: 100%;
  height: 90%;
}

/* 도서 이미지 크기 */
.m_img_book {
  width: 160px;
  height: 240px;
  border: 1px solid black;
}

/* table 관련 변경 */
.m_table {
  font-size: .9em;
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
}

.m_thead {
  font-weight: bold;
}

.m_td {
  padding: 16px 8px;
  vertical-align: top;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.m_th {
  padding: 16px 8px;
  vertical-align: top;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}


.m_table_list {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.m_table_row {
  width: 100%;
  min-height: 54px;
  border-bottom: 1px #E6EDFF solid;
  display: flex;
  align-items: start;
}

.m_table_column {
  /* width: 70px; */
  width: 5%;
  max-width: 10%;
  min-height: 37px;
  font-size: 12px;
  font-weight: 600;
  padding-top: 17px;
}

.m_table_column_result {
  width: 95%;
  max-width: 95%;
  min-height: 37px;
  font-weight: 400;
  padding-left: 30px;
  padding-top: 17px;
  font-size: 12px;
}

.m_table_column_result_insert {
  width: 50%;
  min-height: 44px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 4px;
  align-items: center;
  display : flex;
  margin-left: 20px;
  background-color: #F7F8FA;
  border-radius: 6px;
}

.m_result_full {
  width: 90%;
}

/* selectBox */
.m_select_box {
  position: relative;
  display: inline-block;
}

.m_select_button {
  border: 1px solid #bbb;
  border-radius: 8px;
  font-weight: 400;
  background-color: white;
  padding: 9px 12px;
  width: 160px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.m_drop_content {
  position: absolute;
  font-weight: 400;
  background-color: white;
  min-width : 160px;
  border-radius: 8px;
  height : auto;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.m_drop_content::-webkit-scrollbar{
  width : 0px;
  height : 0px;
}
.m_drop_content::-webkit-scrollbar-thumb{
  border-radius : 8px;
  background-color :rgb(194, 194, 194)
}

.m_drop_content div{
  text-decoration : none;
  color : black;
  font-size: 14px;
  padding : 12px 20px;
}
.m_drop_content div:hover{
  background-color: rgb(226, 226, 226);
}


/* isbn 검색창 */
.m_search_isbn {
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  margin: auto 10px;
}


/* checkbox */
.m_checkbox {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 3.5em;
  height: 1.5em;
}

.m_checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
  }

.m_checkbox:checked {
  background-color: tomato;
  border-color: tomato;
}

.m_checkbox:checked::before {
  background-color: white;
  left: 2em;
}


/* 사용자 정보창 */
.m_user_info_box {
  width: auto;
  height: 50px;
  border: 1px black solid;
  border-radius: 8px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  background: white;
}

.m_user_info_box_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  flex-grow: 1;
}