/* #main_page_container {
  width: 100%;
  max-height: 100%;
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%; 
  max-height: fit-content; 
  color: black;
} */

.userInfo_page {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .userInfo_page_title {
    margin-left: 20px;
  }
  
  .profil_title {
    margin-top: 20px;
  }
  
  .profil_table {
    display: flex;
    border-top: 2px solid black;
  }
  
  .profil_img {
    border-radius: 50%;
    margin: 50px 0 0 50px;
    width: 9.5rem;
    height: 9.5rem;
  }
  
  .profil_info {
    flex-direction: column;
    padding: 60px 0 0 40px;
  }
  
  .profilName {
    margin-bottom: 45px;
  }
  
  .profilEmail,
  .profilPhone {
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .modi_table {
    width: 70%;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    margin: 50px auto 30px auto;
  }
  
  .row {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
  }
  
  .userInfo_th {
    margin: 5px;
    border: 1px solid #d7dde1;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    background: #f7f8fa;
    border-radius: 5px;
  }
  
  .userInfo_td {
    margin: 5px;
    border: 1px solid #d7dde1;
    width: 16rem;
    height: 2rem;
    line-height: 2rem;
    background: #f7f8fa;
    border-radius: 5px;
    text-align: center;
  }
  
  .userInfo_td_gender {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    border: 1px solid #d7dde1;
    width: 16rem;
    height: 2rem;
    line-height: 2rem;
    background: #f7f8fa;
    border-radius: 5px;
  }
  
  .userInfo_td_prefer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center   ;
    text-align: left;
    margin: 5px;
    
    box-sizing: border-box;
    border: 1px solid #d7dde1;
    width: 16rem;
    background: #f7f8fa;
    border-radius: 5px;
    align-items: center;
  }
  
  
  .userInfo_td_prefer label {
    flex: 4 0 calc(25% - 10px); /* 2개씩 나란히 배열하기 위해 50%로 설정 */
    margin: 0;
    font-size: 0.7rem;
    padding: 3px;
  }
  .userInfo_td_prefer input[type="radio"] {
    flex: 4 0 calc(25% - 10px); /* 2개씩 나란히 배열하기 위해 50%로 설정 */
    margin: 0;
    width: 0.6rem;
    height: 0.6rem;
  }
  
  .row_button{
      display: flex;
      flex-direction: column;
      font-size: 1rem;
  }
  
  .idCheck_btn{
      height: 2rem !important;
      width: 7rem !important;
      margin: 60px 5px 5px 5px;
  }
  
  .pwdCheck_btn{
      height: 2rem !important;
      width: 7rem !important;
      margin: 6px 5px 5px 5px;
  }
  
  .modi_footer{
      display: flex;
      justify-content: right;
      width: 80%;
  
      button{
          padding: 5px;
          width: 5rem !important;
          height: 2rem !important;
          margin: 5px;
      }
  }
  
  