.m_content_box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m_sug_box {
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m_sug_box div:first-child {
  width: 50%;
  height: 200px;
}

.m_sug_img_box {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.m_content_title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px auto auto 20px;
  position: relative;
}

.m_card_box {
  width: 100%;
  height: 100%;
}

.m_search_text {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px;
}

.m_gender_box {
  border: none;
  outline: none;
  text-indent: 10px;
  height: 2.5rem;
  border-radius: 7px;
  background-color: #EDF2F7;
  color: #757575;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.basket_div_book {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-left: 20px;
}

.basket_rental_period {
  width: 40%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}