@charset "utf-8";
* {margin: 0; padding: 0; border-collapse: collapse;}
html, body {height: 100%;}

.container {
  width: 100%;
  height: auto;
  display: flex;
}

.main_container {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 20px 20px 30px 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

/* 버튼 관련된 CSS */
.button {
  width: 100px;
  height: 40px;
  background: #E5EBF1; /* 기본색상: 회색*/
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* 버튼 백그라운드 색상 변경 */
.button_purple {
  background: #6425FE;
  opacity: 0.5;
}
.button_red {
  background: #FF0000;
  opacity: 0.5;
}
.button_blue {
  background: #5181B8;
}
.button_charcoal{
  background: #42403e;
}

/* 텍스트 색상 관련 변경 */
.text_white {color: white;}
.text_gray {color: #55677D;}
.text_blue {color: #0047FF;}
.text_red {color: #FC0505;}
.text_green {color: #04F91D;}

/* 버튼 크기 관련 변경 */
.button_width70 {width: 70px;}
.button_width127 {width: 127px;}
.button_height26 {height: 26px;}

/* margin, padding 관련 변경 */
.margin_right10 {margin-right: 10px;}
.margin_right20 {margin-right: 20px;}

.inline_blank12 {height: 12px;}
.inline_blank24 {height: 24px;}


/* 페이지 번호 이동 관련 변경 */
.page_line_box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.page_box_img {
  width: 24px; height: 24px;
  left: 167px; top: 0px;
  cursor: pointer;
}

.page_box_text {
  left: 48px; top: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.li_inline {
  display: inline;
  margin: 0px 10px;
}

/* flex-grow 관련 변경 */
.flex_grow4 {flex-grow: 4;}

/* 검색창 */
.search_box {
  width: 30%;
  position: relative;
}
.search_box_short {
  width: 15%;
}

.search_box_input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search_box_img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 0px;
  margin: 0;
}