.tradeReg_page {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.tradeReg_page_title {
  margin-left: 20px;
  color: black;
}

.tradeReg {
  margin-top: 20px;
  border-top: 2px solid black;
}
.tradeReg_table {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}
.tradeReg_tr {
  font-size: 17px;
  color: black;
  height: 4rem;
  border-bottom: 1px solid rgb(219, 221, 227);
}
.tradeReg_tr_content {
  font-size: 17px;
  color: black;
  height: 10rem;
  border-bottom: 1px solid rgb(219, 221, 227);
  top: 0;
  margin-top: 10px;
}
.tradeReg_th {
  width: 10%;
  text-align: center;
}
.tradeReg_td {
  padding-left: 50px;
  width: 90%;
}
.tradeReg_text_input {
  border: 1px solid #d7dde1;
  background: #f7f8fa;
  border-radius: 5px;
  width: 65%;
  height: 2.5rem;
}

.tradeReg_range_input {
  width: 65%;
  outline: none;
}
.tradeReg_content_input {
  width: 65%;
  height: 8.5rem;
  background-color: #f7f8fa;
  border: 1px solid #d6dce1;
  border-radius: 5px;
  outline: none;
  resize: none;
}
.tradeReg_select{
    width: 20%;
    background-color: #f7f8fa;
    border: 1px solid #d6dce1;
    border-radius: 5px;
    height: 2rem;
}
.tradeReg_btnBox {
  justify-content: right;
  display: flex;
  margin: 20px 20px 0 0;
  button {
    width: 6.5rem !important;
    height: 2.5rem !important;
    margin-right: 10px;
  }
}
