.inquiryReg_page {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.inquiryReg_page_title {
  margin-left: 20px;
  color: black;
}
.inquiryReg {
  margin-top: 20px;
  border-top: 2px solid black;
}
.inquiryReg_table {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}
.inquiryReg_tr {
  font-size: 17px;
  color: black;
  height: 4rem;
  border-bottom: 1px solid rgb(219, 221, 227);
}
.inquiryReg_tr_content {
  font-size: 17px;
  color: black;
  height: 10rem;
  border-bottom: 1px solid rgb(219, 221, 227);
  top: 0;
  margin-top: 10px;
}
.inquiryReg_th {
  width: 10%;
  text-align: center;
}
.inquiryReg_td {
  padding-left: 50px;
  width: 90%;
}
.inquiryReg_text_input {
  border: 1px solid #d7dde1;
  background: #f7f8fa;
  border-radius: 5px;
  width: 65%;
  height: 2.5rem;
}
.inquiryReg_content_input {
  width: 65%;
  height: 8.5rem;
  background-color: #f7f8fa;
  border: 1px solid #d6dce1;
  border-radius: 5px;
  outline: none;
  resize: none;
}
.inquiryReg_disclosure {
  .switch {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    vertical-align: middle;

    input[type="checkbox"] {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      font-size: initial;
      clip: rect(0 0 0 0);
    }

    input[type="checkbox"]:checked + .slider {
      background-color: #007bff;
    }

    input[type="checkbox"]:checked + .slider::before {
      transform: translateX(10px);
    }

    .slider {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #ccc;
      border-radius: 34px;
      cursor: pointer;
      transition: 0.4s;
    }

    .slider::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
}

.inquiryReg_btnBox {
  justify-content: right;
  display: flex;
  margin: 20px 20px 0 0;
  button {
    width: 6.5rem !important;
    height: 2.5rem !important;
    margin-right: 10px;
  }
}
