.inquiry_page {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.inquiry_header {
  display: flex;
  margin-top: 10px;
}

.inquiry_page_title {
  margin-left: 20px;
  color: black;
}

.faqList,
.qnaList {
  margin-top: 20px;
}

.faqList_title,
.qnaList_title {
  margin-left: 20px;
  color: black;
}

.faq_table,
.qna_table {
  border-bottom: 2px solid #e6edff;
  margin-top: 20px;
  width: 100%;
}
.faq_table_header,
.qna_table_header {
  height: 3rem;
  border-bottom: 2px solid #e6edff;
}
.faq_num,
.qna_num {
  width: 10%;
}

.faq_title {
  width: 90%;
}

.qna_userName {
  width: 15%;
}

.qna_title {
  width: 75%;
}

.create_inquiry{
  margin-top: 10px;
  display: flex;
}

.inquiryCreate_btn{
  width: 5rem !important;
  height: 2rem !important;
  margin-left: auto;
  margin-right: 32px;
}