.notiDetail_page {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.notiDetail_page_title {
  margin-left: 20px;
  color: black;
}
.notiInfo {
  margin-top: 20px;
  border-top: 2px solid black;
}
.notiInfo_table {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}
.notiInfo_tr {
  font-size: 17px;
  color: black;
  height: 3rem;
  border-bottom: 1px solid rgb(219, 221, 227);
}
.notiInfo_th {
  width: 20%;
}
.notiInfo_td {
  width: 80%;
}
.notiInfo_subTitle{
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.notiInfo_content{
    margin-bottom: 10px;
}
.notiDetail_btnBox {
  margin: 20px 20px 0 0;
  justify-content: right;
  display: flex;
  button {
    width: 5rem !important;
    height: 2rem !important;
    margin-right: 10px;
  }
}
